<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "mainEntity": {
    "@type": "Person",
    "name": "Teko Sulaiman",
    "url": "{{ SITEURL }}/about.html",
    "image": "{{ SITEURL }}/theme/images/teko.jpg",
    "jobTitle": "Multidisciplinary IT Professional",
    "worksFor": {
      "@type": "Organization",
      "name": "Teko Portfolio"
    },
    "sameAs": [
      "https://www.linkedin.com/in/teko-sulaiman",
      "https://github.com/teko-sulaiman",
      "https://twitter.com/teko_sulaiman"
    ]
  }
}
</script>
