{% extends "/layouts/base.html" %}
{% block content %}
<section class="px-4 max-w-4xl mx-auto text-gray-800">
  <h1 class="text-3xl font-bold mb-4">Disclaimer</h1>
  <p class="text-gray-600 max-w-2xl">
    All content on this site is based on my personal experience, technical experiments, and professional opinions. 
    The information provided is not intended as official advice or a guarantee of specific outcomes. 
    Use of any information from this site is entirely at the user’s own responsibility.
  </p>
</section>
{% endblock %}