<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="HmdonDMSsVb-6ESRvTS5J4tq_qGEV9Z5v-f1hyvqqvg" />

<title>
  {% if article %}
    {{ article.title }} · {{ SITENAME }}
  {% elif page %}
    {{ page.title }} · {{ SITENAME }}
  {% else %}
    Professional Showcase {{ SITENAME }}
  {% endif %}
</title>

<meta name="description" content="
  {% if article %}
    {{ article.summary|striptags }}
  {% elif page %}
    {{ page.summary|striptags if page.summary else SITESUBTITLE }}
  {% else %}
    Explore technical documentation, backend experiments, and modular strategies by Teko Sulaiman. {{ SITESUBTITLE }}
  {% endif %}
">

{% if article is defined and article.schema %}
  {% for s in article.schema %}
    {% include "partials/schema/" ~ s ~ ".html" %}
  {% endfor %}
{% endif %}

{% if page is defined and page.schema %}
  {% for s in page.schema %}
    {% include "partials/schema/" ~ s ~ ".html" %}
  {% endfor %}
{% endif %}

{% if articles is defined and not page and not article %}
  {% include "partials/schema/organization.html" %}
{% endif %}

{% if page is defined and page.slug == "about" %}
  {% include "partials/schema/profilepage.html" %}
{% endif %}

<link rel="canonical" href="{% if article %}{{ SITEURL }}/{{ article.url }}{% elif page %}{{ SITEURL }}/{{ page.url }}{% else %}{{ SITEURL }}/{% endif %}">

<!-- Open Graph -->
<meta property="og:type" content="{% if article %}article{% else %}website{% endif %}">
<meta property="og:title" content="{% if article %}{{ article.title }}{% else %}{{ SITENAME }}{% endif %}">
<meta property="og:description" content="{% if article %}{{ article.summary|striptags }}{% else %}{{ SITESUBTITLE }}{% endif %}">
<meta property="og:url" content="{{ SITEURL }}{% if article %}/{{ article.url }}{% endif %}">
<meta property="og:site_name" content="{{ SITENAME }}">

<!-- CSS -->
<link rel="stylesheet" href="{{ SITEURL }}/static/css/unocss.css">
<link rel="icon" href="{{ SITEURL }}/favicon.ico" type="image/x-icon">

